<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>Home Page <%= 4 + 5 + 10 %></h1>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quam labore et, provident voluptates possimus maxime, repellendus assumenda distinctio perferendis dicta aspernatur velit eum nisi omnis blanditiis nostrum explicabo hic aperiam.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt fugiat a optio vel? Harum itaque necessitatibus et voluptas magni eum totam aspernatur perferendis debitis saepe? Quas architecto beatae possimus dignissimos.</p>

</body>
</html>